In [152]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [153]:
#Clean the basic info file
df=pd.read_csv('Basic_info.csv')
df.head()

,Name,Joining_Date,#Following,#Followers,#Total_tweets
0,Virat Kohli,Joined September 2009,65 Following,49.7M Followers,"2,672 Tweets"
1,Harbhajan Turbanator,Joined November 2009,213 Following,11.7M Followers,10.2K Tweets
2,BJP,Joined October 2010,3 Following,19M Followers,233.5K Tweets
3,Riteish Deshmukh,Joined July 2009,320 Following,11.3M Followers,28.8K Tweets
4,Kiran Bedi,Joined August 2009,413 Following,12.2M Followers,38.5K Tweets

In [154]:
#Let's see the shape
df.shape

(50, 5)

In [155]:
#Let's see the columns
df.columns

Index(['Name', 'Joining_Date', '#Following', '#Followers', '#Total_tweets'], dtype='object')

Well, the columns are self explanatory.

In [156]:
#Let's get summary about out data
df.describe()

,Name,Joining_Date,#Following,#Followers,#Total_tweets
count,50,50,50,50,50
unique,50,30,47,46,48
top,Virat Kohli,Joined April 2010,275 Following,12.8M Followers,10.2K Tweets
freq,1,5,2,2,2

Seems like we have scrapped the data quite well and don't have any null entries

In [157]:
#What are the types of our columns
df.dtypes

Name             object
Joining_Date     object
#Following       object
#Followers       object
#Total_tweets    object
dtype: object

### This doesn't work well for our intended analysis
We would want<br>
Name= String<br>
Joining_Date= Datetype<br>
all else = int<br>

In [158]:
def use_strip(a):
    return a.strip('Joined')

In [159]:
#Convert into datetime format
key='Joined'
df['Joining_Date']=df['Joining_Date'].apply(use_strip)
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])
df.head()

,Name,Joining_Date,#Following,#Followers,#Total_tweets
0,Virat Kohli,2009-09-01,65 Following,49.7M Followers,"2,672 Tweets"
1,Harbhajan Turbanator,2009-11-01,213 Following,11.7M Followers,10.2K Tweets
2,BJP,2010-10-01,3 Following,19M Followers,233.5K Tweets
3,Riteish Deshmukh,2009-07-01,320 Following,11.3M Followers,28.8K Tweets
4,Kiran Bedi,2009-08-01,413 Following,12.2M Followers,38.5K Tweets

In [160]:
def clean_following(a):
    return a.strip('Following')

def clean_followers(a):
    return a.strip('Followers')

def clean_tweets(a):
    return a.strip('Tweets')

In [161]:
#Convert other columns into required format
df['#Following']=df['#Following'].apply(clean_following)
df['#Followers']=df['#Followers'].apply(clean_followers)
df['#Total_tweets']=df['#Total_tweets'].apply(clean_tweets)
df.head()

                   Name Joining_Date #Following #Followers #Total_tweets
0           Virat Kohli   2009-09-01        65      49.7M         2,672
1  Harbhajan Turbanator   2009-11-01       213      11.7M         10.2K
2                   BJP   2010-10-01         3        19M        233.5K
3      Riteish Deshmukh   2009-07-01       320      11.3M         28.8K
4            Kiran Bedi   2009-08-01       413      12.2M         38.5K

In [162]:
df.iloc[20]

Name                            NDTV
Joining_Date     2009-05-01 00:00:00
#Following                       14
#Followers                    17.3M
#Total_tweets                    1M
Name: 20, dtype: object

In [163]:
#Now I need to convert these values into valid numbers
#Problem: The values are not consistent some are in thousands, ten thousands and some in millions

In [164]:
def to_number(a):
    value={'B':1,'M':1000000,'K':1000}  
    mul='B'
    a_convert=""
    
    for l in a:  
        if l in value:
            mul=l
        elif(l!=','):
            a_convert=a_convert+l
    return int(float(a_convert)*value[mul])

In [165]:
#Convert the entries in the required format
df['#Following']=df['#Following'].apply(to_number)
df['#Followers']=df['#Followers'].apply(to_number)
df['#Total_tweets']=df['#Total_tweets'].apply(to_number)
df.head()

                   Name Joining_Date  #Following  #Followers  #Total_tweets
0           Virat Kohli   2009-09-01          65    49700000           2672
1  Harbhajan Turbanator   2009-11-01         213    11700000          10200
2                   BJP   2010-10-01           3    19000000         233500
3      Riteish Deshmukh   2009-07-01         320    11300000          28800
4            Kiran Bedi   2009-08-01         413    12200000          38500

In [169]:
df.head()

                   Name Joining_Date  #Following  #Followers  #Total_tweets
0           Virat Kohli   2009-09-01          65    49700000           2672
1  Harbhajan Turbanator   2009-11-01         213    11700000          10200
2                   BJP   2010-10-01           3    19000000         233500
3      Riteish Deshmukh   2009-07-01         320    11300000          28800
4            Kiran Bedi   2009-08-01         413    12200000          38500

In [ ]:
#Now we are ready to analysis on this file